**/node_modules
**/.next
**/dist
**/.turbo
**/.yarn/cache
**/.yarn/install-state.gz
**/coverage
apps/admin/src/**/*.js
apps/admin/src/**/*.js.map
apps/admin/src/**/*.d.ts
apps/admin/src/**/*.d.ts.map
.git
.github
docs/superpowers
.superpowers
.vscode
.idea
*.log
